body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}
.top {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.top ion-icon {
  font-size: 50px;
}
.content {
  height: calc(100vh - 180px);
  margin: 86px auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.box {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 13px 8px;
  margin-bottom: 4px;
}
.message {
  background-color: #ffffff;
}
.status {
  background-color: #dcdcdc;
}
.private_message {
  background-color: #ffdede;
}
.time {
  color: gray;
  margin-right: 4px;
}
.chatbox {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.chatbox span {
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 5px;
  color: gray;
  font-size: 14px;
  margin-left: 17px;
}
.chatbox input {
  width: 80%;
  background-color: inherit;
  font-size: 18px;
  font-style: italic;
  color: black;
  border: none;
  padding: 17px;
  outline: none;
}
.chatbox ion-icon {
  font-size: 40px;
}
.participant-page {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 65vw;
  height: 100vh;
  background-color: #ffffff;
  transition: 2s;
}
.participant-page h1 {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;
}
.contacts,
.visibility {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.item ion-icon {
  font-size: 30px;
  margin-right: 4px;
}
.item .selected {
  position: absolute;
  color: green;
  font-size: 20px;
  right: 16px;
  --ionicon-stroke-width: 70px;
}
.obscured {
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 35vw;
  height: 100vh;
  transition: 0.5s;
}
.start-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
}
.start-page img {
  margin-top: 72px;
}
.start-page input {
  margin-top: 94px;
  width: 260px;
  height: 54px;
  border-color: #aeaeae;
  border: 1px solid;
  color: #aeaeae;
  text-align: center;
  border-radius: 4px;
}
.start-page button {
  margin-top: 15px;
  width: 109px;
  height: 45px;
  border: none;
  color: #696969;
  text-align: center;
  border-radius: 4px;
}
.start-page .load {
  margin-top: 94px;
  height: 150px;
  background-color: red;
}
.start-page h1 {
  margin-top: 15px;
}
.start-page h2 {
  margin-top: 20px;
  color: rgb(145, 4, 4);
}
.hidden {
  display: none;
}
