body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}
.top {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.top ion-icon {
  font-size: 50px;
}
.content {
  height: calc(100vh - 180px);
  margin: 86px auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.box {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 13px 8px;
  margin-bottom: 4px;
}
.message {
  background-color: #ffffff;
}
.status {
  background-color: #dcdcdc;
}
.private_message {
  background-color: #ffdede;
}
.time {
  color: gray;
  margin-right: 4px;
}
.chatbox {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.chatbox input {
  width: 80%;
  background-color: inherit;
  color: black;
  font-size: 18px;
  font-style: italic;
  border: none;
  padding: 17px;
}
.chatbox ion-icon {
  font-size: 40px;
}
